# Files
*.DS_Store
nvim/lazy-lock.json
nushell/config/history.txt
wezterm/theme.bin

# Directories
mason/
plugged/
openrgb/logs/
!sublime/Packages/User
!sublime/Packages/Default
sublime/Packages
sublime/Local
nvim/lazyvim.json
