# Files
*.DS_Store
.netrwhist
variables.nix.bak
nvim/lazy-lock.json
nushell/config/history.txt
wezterm/theme.bin

# Directories
*idea/
mason/
plugged/
openrgb/logs/
!sublime/Packages/User
!sublime/Packages/Default
sublime/Packages
sublime/Local
nvim/lazyvim.json
