@import "colors/tokyonight.css";

* {
  font-size: 14;
  font-family: "MonaspiceKr Nerd Font Mono";
  min-height: 0px;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 10px;
  transition: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#backlight,
#bluetooth,
#clock,
#cpu,
#memory,
#mpris,
#network,
#privacy,
#pulseaudio,
#tray,
#weather,
#workspaces,
#window,
#custom-weather,
#custom-dunst,
#custom-launcher,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-media {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: @fg;
  transition: none;
  color: @fg;
  background: @bg;
}

#window {
}

#workspaces {
}

#workspaces button {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
  color: @fg4;
}

#workspaces button.active {
  color: @fg3;
}
#workspaces button.empty {
  color: @fg4;
}
#workspaces button.persistent {
  color: @fg2;
}
#workspaces button.visible {
  color: @fg;
}
#workspaces button.urgent {
  color: @red;
}

#network {
}

#pulseaudio {
}

#bluetooth {
}

#backlight {
}
#clock {
  margin-right: 0px;
}

#memory {
}
#cpu {
}

#tray {
  margin-left: 0px;
}

#custom-launcher {
}

#custom-power {
}

#custom-wallpaper {
}

#custom-updates {
}

#custom-media {
}

#tags {
  font-size: 4px;
  margin-left: 12px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: @fg2;
}

#tags button {
  color: @fg3;
  background: transparent;
  font-size: 16px;
  border-radius: 2px;
}

#tags button.occupied {
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#tags button.focused {
  color: @fg3;
}

#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @fg3;
  border-color: #e8a2af;
  background: @fg3;
}

#tags button.focused:hover {
  color: #e8a2af;
}
