Config (
   x: Fraction(0.5),
   y: Fraction(0.3),
   width: Fraction(0.3),
   hide_icons: false,
   ignore_exclusive_zones: false,
   layer: Overlay,
   hide_plugin_info: false,
   close_on_click: true,
   show_results_immediately: false,
   max_entries: None,
   plugins: [
    "libapplications.so",
    "librink.so",
    "libshell.so",
    "libkidex.so",
   ],
)
